@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;800&family=Lexend&display=swap');

body {
  font-family: "Lexend"!important;
  font-optical-sizing: auto;
  font-style: normal;
}